<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><form method="post">
    {% csrf_token %}
    <table border="2">
        <tr>
            <th>Old Password <p style="color: red;">{{ error2 }}</p></th>
            <td><input type="password" name="user_old_pasword"  ></td>
        </tr>
        <tr>
            <th>New Password<p style="color: red;">{{ error1 }}</p></th>
            <td><input type="password" name="user_new_password" ></td>
        </tr>
        <tr>
            <th>Re-type Password </th>
            <td><input type="password" name="re_type_password" ></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="login"></td>
        </tr>
    
    </table>
</form>

</body>
</html>