<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <table border="2">
        <tr>
            <th>category</th>
            <td>
                <select name="sel_category">
                    {% for i in category %}
                    <option value="{{i.id}}">{{i.category_name}}</option>
                    {%endfor%}
                </select> </td>
        </tr>
    <tr>
        <td>product name</td>
        <td><input type="text" name="product_name" id=""></td>
    </tr>
    <tr>
        <td>product details</td>
        <td><input type="text" name="product_details" id=""></td>
    </tr>
    <tr>
        <td>product price</td>
        <td><input type="text" name="product_price" id=""></td>
    </tr>
    <tr>
        <td>Photo</td>
        <td><input type="file" name="product_photo"/></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" value="add"></td>
    </tr>
   
    </table>
    <table border="2">
        <tr>
          <th>sl no</th>
          <th>Category</th>
          <th>Name</th>
          <th>Details</th>
          <th>price</th>
          <th>Photo</th>
          <th>action</th>
        </tr>
        {% for i in product %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.category_id.category_name}}</td>
            <td>{{i.product_name}}</td>
            <td>{{i.product_details}}</td>
            <td>{{i.product_price}}</td>
            <td><img src="{{ i.product_photo.url }}" alt="product Photo" width="100"></td>
            <td><a href="{% url 'Shop:delpdt' i.id %}">DELETE</a>
            <a href="{% url 'Shop:stock' i.id %}">ADD STOCK</a></td>
        </tr>
        {% endfor %}
    </table>
     </form>
</body>
</html>